@import "variables";
@import "colors";

body {
    background-image: none;
    background-repeat: no-repeat;
    background-position: center;
    font-family: sans-serif;
    background-size: cover;
    position: relative;
}
p {
    margin: 8px;
    padding: 8px;
    text-align: center;
    line-height: 30px;
    font-family: $font-family;
    font-size: 21px;
    letter-spacing: 2px;
}

@media only screen and (min-width: 768px)  and (max-width: 1024px) {
    .form-inline {
        padding-top: 15px;
    }
}

h1 {
    color: black;
    font-family: $font-family;
    text-align: center;
    align-items: center;
    justify-content: center;
    text-transform: $text-transformation;
    animation-duration: 4s;
    animation-name: Truco;
}

h2 {
    color: black;
    font-family: $font-family;
    text-align: center;
    align-items: center;
    justify-content: center;
    text-transform: $text-transformation;
    animation-duration: 4s;
    animation-name: Truco;
    @media only screen and (min-width: 768px)  and (max-width: 1024px){
        font-size: 1,5rem;
    }
}

h3 {
    font-family: $font-family;
}

a {
    color: $base-color !important;
}

hr {
    height: 2px;
    width: 92%;
    background-color: orange;
}

nav {
    display: flex;
    justify-content: space-evenly;
    margin: auto;
    ul li {
        display: inline-block;
        padding: 20px;
        background-color: none;
        position: relative;
        text-align: center;
        align-items: center;
        justify-content: center;
        a {
            text-decoration: none;
            color: black;
            align-items: center;
            justify-content: center;
        }
    }
    ul ul {
        display: none;
        position: absolute;
        border-radius: 15px;
        justify-content: center;
    }
}

.header__titulo {
    color: whitesmoke;
    text-align: center;
    text-transform: $text-transformation;
    animation-duration: 4s;
    animation-name: Truco;
    position: absolute;
    left: 200px;
    top: 20px;
    @media only screen and (min-width: 768px)  and (max-width: 1024px) {
        font-size: 1.5rem;
        left: 150px;
    }
    @media only screen and (min-width: 320px)  and (max-width: 767px) {
        position: relative;
        font-size: 0.7rem;
        top:20px;
        left:10px;
    }
}

.imgFooter {
    width: 70%;
}

.btn-dark {
    color: #fff;
    background-image: linear-gradient(to right top, #9e5b24, #b26823, #c57720, #d9851b, #eb9512) !important;
}

.posicion__mapa {
    display: flex;
    justify-content: center;
    align-items: center;
}

.GridContenedor {
    background-color: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 10px;
    padding: 10px;
    align-content: center;
}

.GridTest {
    padding: 20px;
    font-size: 16px;
    text-align: center;
}

header {
    display: flex;
    background-image: linear-gradient(to right, #f5cfa1, #f3ba7d, #f0a55a, #ee8e39, #eb7512);
    justify-content: center;
    text-align: left;
}

@keyframes Truco {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.mapa {
    height: 300px;
    width: 470px;
    border-radius: 50px;
}

.fotoindex {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.fotoindex__imgchica {
    width: 10%;
    border-radius: 50px;
}
.fotoQuienes {
    width: 40%;
    border-radius: 10px;
}

.fotoVentasAlq {
    margin-inline-start: 55px;
    width: 65%;
    border-radius: 10px;
  }
  
  .fotoAlq {
    margin-inline-start: 155px;
    width: 35%;
    border-radius: 10px;
    @media only screen and (min-width: 768px)  and (max-width: 1024px) {
        margin-inline-start: 100px;
        width: 45%;
    }
  }

.logo {
    border-radius: 10px;
    width: 10%;
}

.header {
    background-color: $base-color;
}

.carousel {
    margin-left: 10%;
}
carousel-inner img {
    width: 65%;
    height: 45%;
}

.carousel-indicators {
    margin-left: auto !important;
}

.carousel-inner .item img {
    width: 100%;
}

.carousel-control-prev-icon {
    margin-left: -120px;
}

.carousel-control-next-icon {
    margin-left: -240px;
}

.scale {
    transition: transform 0.2s;
}
.scale:hover {
    transform: scale(1.2);
}

.footer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to bottom, #f5cfa1, #f3ba7d, #f0a55a, #ee8e39, #eb7512);
}
.footerDiv {
    margin: 5px;
    flex: 1;
    min-width: 30%;
    padding: 20px;
}
